{% extends 'base.html' %}

{% block head_title %}Users - {{block.super}} {%endblock head_title%}

{% block content %}
{{perms}}
fuck
    {% if perms.auth %}
        {% if perms.auth.view_user %}
            <div>
                {% for instance in object_list %}
                <li><a href="/profiles/{{instance.username}}">{{instance.username}}</a></li>

                {% endfor %}
            </div>
            {{object_list}}
        {% else %}
            <div>You are not allowed to see this</div>

        {% endif %}
    {% endif %}
{% endblock content %}